<a class="dropdown-item" href="/cart">
    <i class="bi bi-cart"></i>
  </a>
  <%= link_to 'Cart', cart_path, class: 'cart-link' %>
  <span class="cart-count">
    <%= Cart.where(user_id: current_user.id).count %>
  </span>