.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cart-table th {
  background-color: #f4f4f4;
}

.cart-image {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.remove-button, .checkout-button, .confirm-button {
  background-color: #004085;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.remove-button:hover, .checkout-button:hover, .confirm-button:hover {
  background-color: #002752;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.bi-cart {
  font-size: 20px;
  color: #333;
}

.cart-link {
  color: #007BFF;
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
}

.cart-link:hover {
  text-decoration: underline;
}

.cart-count {
  background-color: #FF5733;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 6px;
  margin-left: 5px;
  display: inline-block;
}

.checkout-container {
  display: flex;
  gap: 20px;
}

.checkout-left {
  flex: 3;
}

.checkout-right {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.delivery-option {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.delivery-option input[type="radio"] {
  margin-right: 5px;
}

.shipping-form {
  display: grid;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

input, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
select {
  appearance: none;
  background: white url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns="http://www.w3.org/2000/svg"%20viewBox="0%200%204%205"><path%20fill="black"%20d="M2%200L4%202H0z"/></svg>') no-repeat right 10px center;
  background-size: 10px 10px;
}

input::placeholder,
select::placeholder {
  font-size: 14px;
  color: #aaa;
}
